/* Ubuntu */

@font-face {
	font-family: "UbuntuRegular";
	src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
	src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
	url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "UbuntuMedium";
	src: url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
	url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "UbuntuBold";
	src: url("../fonts/UbuntuBold/UbuntuBold.eot");
	src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
	url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



/* BepasNeue */
/* 
@font-face {
	font-family: "BebasNeue";
	url("../fonts/BepasNeue/AA-BepasNeue.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */
