@media (min-width: 319.98px) {

    .page-home__container {
        max-height: 200px;
    }
}

@media (min-width: 319.98px) {

    .page-home__container {
        height: 225px;
    }
}

@media (min-width: 500.98px) {

    .page-home__container {
        height: 275px;
    }
}

@media (min-width: 600.98px) {

    .page-home__container {
        min-width: 100%;
        height: 350px;
    }

    .header__wrapper {
        justify-content: space-between;
    }

    .logo {
        position: static;
    }

    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: static;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transform: none;
    }

    .menu__link {
        padding: 15px 0;
        margin: 0;
    }

    .page-home__groups--headline {
        padding-top: 26%;
    }

    .nav__line {
        display: none;
    }

    .menu__item {
        width: 100px;
        justify-content: center;
        border-right: 1px solid #2a3d4f;
    }

    .menu__link {
        font-size: 15px;
    }

    .page-home__container {
        width: 625px;
        height: 375px;
    }
}

@media (min-width: 767.98px) {

    .page-home__groups--headline {
        padding-top: 29%;
    }

    .page-home__container {
        width: 100%;
        height: 375px;
    }
}


@media (min-width: 972.98px) {

    .menu__item {
        width: 170px;
    }

    .icon-top {
        margin-right: 60px;
    }

    .gradation-steps__step--paragraph {
        padding-top: 16px;
    }

    .page-home__groups-web {
        margin-right: 20px;
    }

    .page-home__gradation {
        display: none;
    }

    .hiden--graduation {
        display: block;
    }

    .page-home {
        display: flex;
        justify-content: space-around;
        padding: -5px;
    }

    .page-home__container {
        min-width: 625px;
        height: 375px;
    }

    .page-home--display {
        display: flex;
    }

    .page-home__gradation {
        flex-direction: column;
    }

    .gradation-icons {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    .gradation-icons__icon {
        min-width: 55px;
        min-height: 55px;
    }

    .gradation-steps {
        margin-top: 25px;
    }

    .gradation-steps__step {
        min-width: 300px;
        min-height: 55px;
        margin-bottom: 16px;
    }

    .page-home__groups {
        width: 625px;
        margin-left: -15px;
    }
}

@media (min-width: 977.98px) {

    .page-home__container {
        width: 720px;
        height: 375px;
    }

    .page-home__groups {
        padding-top: 20px;
        width: 650px;
        margin-left: -15px;
    }
}

@media (min-width: 1010.98px) {

    .gradation-icons {
        margin-top: 100px;
    }

    .page-home__groups-web {
        margin-right: 30px;
    }

    .page-home__container {
        width: 720px;
        height: 425px;
    }

    .page-home__groups {
        width: 720px;
        margin-left: -15px;
    }
}

@media (min-width: 1099.98px) {

    .gradation-icons {
        margin-top: 150px;
    }

    .page-home__groups-web {
        margin-right: 40px;
    }

    .page-home__container {
        width: 800px;
        height: 475px;
    }

    .page-home__groups {
        padding-top: 35px;
        width: 800px;
        margin-left: -15px;
    }
}

@media (min-width: 1169.98px) {

    .page-home {
        max-width: 1300px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .page-home__container {
        width: 825px;
        height: 485px;
    }

    .page-home__groups {
        width: 825px;
        margin-left: -15px;
    }
}

@media (min-width: 1200.98px) {

    .gradation-icons {
        margin-top: 100px;
    }

    .gradation-steps {
        margin-top: 35px;
    }

    .gradation-steps__step--paragraph {
        padding-top: 28px;
    }

    .page-home__container {
        width: 840px;
        height: 505px;
    }

    .page-home__groups {
        width: 840px;
        margin-left: -15px;
    }

    .gradation-icons__icon {
        min-width: 90px;
        min-height: 90px;
    }

    .gradation-steps__step {
        min-width: 400px;
        min-height: 75px;
        margin-bottom: 16px;
    }

}
