*:before, *, *:after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "UbuntuRegular";
    background-color: #0E1621;
    color: #FFF;
    overflow-x: hidden;
}

/* Header */

.header {
    background-color: #242f3d;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 30px;
    display: flex;
}

.header__wrapper {
    padding: 20px 30px;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.nav__check {
    display: block;
    width: 42px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

.nav__line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.nav__line:first-child {
    transform-origin: 0 0;
}

.nav__line:nth-last-child(2) {
    transform-origin: 0 100%;
}

.nav__check:checked ~ .nav__line {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

.nav__check:checked ~ .nav__line:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__check:checked ~ .nav__line:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.nav__check:checked ~ .menu {
    transform: none;
}

.link {
    font: 500 12px / 1 'UbuntuMedium', sans-serif;
    color: #fff;
    text-decoration: none;
}

.logo {
    position: absolute;
    z-index: 3;
    left: 30px;
}

.logo__img {
    display: inline-block;
    width: 46px;
    height: 46px;
}

.menu {
    box-sizing: border-box;
    position: absolute;
    top: -100px;
    right: -30px;
    width: 100vw;
    height: 110vh;
    padding: 125px 0 50px 0;
    background-color: #17212b;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    font: 500 16px / 1.5 'UbuntuMedium', sans-serif;
    padding: 20px 0;
    margin: 0 auto;
    text-transform: uppercase;
    transition: .3s;
}

.menu__link:hover {
    color: #5c8bb1;
}

.menu__link:active {
    color: #fff;
}

/*  News  */

.news {
    margin: 0 auto;
    background-color: #0e1621;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 414px;
    padding: 27px;
    box-sizing: border-box;
}

.news__item {
    text-decoration: none;
    margin-bottom: 30px;
}

.news-image {
    display: inline-block;
    width: 100%;
}

.news-name {
    padding: 10px 20px;
    background-color: #282c30;
    text-transform: uppercase;

}

.first-blocknews {
    color: #fff;
    font-size: 14px;
}

.second-blocknews {
    color: #989999;
    font-size: 11px;
}

/* Main section */

.page-home__container {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.page-home__video {
    width: 100%;
    height: 100%;

}

.page-home__gradation {
    margin: 0 auto;
    width: 260px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.hiden--graduation {
    display: none;
}

.gradation-icons {
    padding-top: 25px;
}

.gradation-icons__icon {
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #17212B;
}

.gradation-steps__step {
    margin-bottom: 8px;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    background-color: #242F3D;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.gradation-steps__step:hover {
    background-color: #1C2530;
}

.gradation-steps__step--paragraph {
    padding-top: 10px;
    text-align: center;
}

.page-home__groups {
    margin-top: 8px;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.page-home__groups-web {
    text-decoration: none;
    color: #FFF;
    margin-right: 15px;
    max-width: 365px;
    overflow: hidden;
    position: relative;
}

.page-home__groups-pm {
    text-decoration: none;
    color: #FFF;
    max-width: 430px;
    overflow: hidden;
    position: relative;
}

.page-home__groups--img {
    width: 100%;
    height: 100%;
}

.page-home__groups--headline {
    padding-top: 24%;
}



.page-home__groups--headline-web {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    padding-top: 35%;
    vertical-align: inherit;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-home__groups--headline-pm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    padding-top: 30%;
    vertical-align: inherit;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
}


/*Footer*/

.page-home__footer {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: #17212B;
}

.page-home__footer--link {
    font-size: 12px;
    text-decoration: none;
    line-height: 1.3;
    color: #676768;
    max-width: 250px;
    text-transform: uppercase;
}

.page-home__footer--top {
    outline: none;
    border: none;
    background: none;
    display: none;

}

.btn__top-show {
    display: block;
    cursor: pointer;
}

.icon-top {
    margin-right: 40px;
    height: 20px;
    width: 18px;
    fill: #fff;
}

/*Post*/
.post {
    box-sizing: border-box;
    max-width: 414px;
    margin: 0 auto;
    padding: 27px;
}

.post__news-name {
    background-color: #0E1621;
}

.post-content {
    padding: 27px 0;
}

.content-text {
    font-size: 12px;
    margin: 15px 0;
}
